{% extends 'base.html.twig' %}

{% block body %}
<div class="container-md col-md-8">

<table class="table">
    <thead class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
        <tr>
            <th>Semester name</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Tuition</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{semester.name}}</td>
            <td>{{semester.TimeStart}}</td>
            <td>{{semester.TimeEnd}}</td>
            <td>{{semester.tuition}}</td>
            <td>
            <a class="btn btn-warning" href="{{path('semester_edit',{'id':semester.id})}}">
            Edit
            </a>
            <a class="btn btn-warning" href="{{path('semester_delete',{'id':semester.id})}}">
            Delete
            </a>
            </td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %} 


